@import 'tailwindcss';

@import './fonts.css';
@import './theme.css';

@layer base {
  html {
    color-scheme: light dark;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
}
