@import 'tailwindcss';

@import './fonts.css';
@import './theme.css';

@layer base {
  html {
    color-scheme: light dark;
  }

  body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
}
